<%- include('../partials/header', { title }) %>

<div class="error-container">
  <h1><%= title %></h1>
  <div class="error-message"><%= message %></div>
  <% if (stack) { %>
    <pre class="error-stack"><%= stack %></pre>
  <% } %>
</div>

<%- include('../partials/footer') %>